#ifdef RC_INVOKED

#include <winresrc.h>
#include <dzversion.h>
#include "config.h"

#define STRINGIZE_(arg) #arg
#define STRINGIZE(arg) STRINGIZE_(arg)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
 FILEVERSION PLUGIN_VERSION_MAJOR, PLUGIN_VERSION_MINOR, PLUGIN_VERSION_REV, PLUGIN_VERSION_BUILD
 PRODUCTVERSION DZ_VERSION_MAJOR, DZ_VERSION_MINOR, DZ_VERSION_REV, DZ_VERSION_BUILD
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
FILEOS VOS_NT
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", STRINGIZE(PLUGIN_AUTHOR_RAW\0)
            VALUE "FileDescription", STRINGIZE(PLUGIN_DESCRIPTION_RAW\0)
            VALUE "FileVersion", STRINGIZE(PLUGIN_VERSION_MAJOR.PLUGIN_VERSION_MINOR.PLUGIN_VERSION_REV.PLUGIN_VERSION_BUILD\0)
            VALUE "InternalName", STRINGIZE(PLUGIN_NAME_RAW\0)
            VALUE "LegalCopyright", STRINGIZE(PLUGIN_COPYRIGHT_RAW\0)
            VALUE "ProductName", STRINGIZE(PLUGIN_DESCRIPTION_RAW\0)
            VALUE "ProductVersion", STRINGIZE(DZ_VERSION_MAJOR.DZ_VERSION_MINOR.DZ_VERSION_REV.DZ_VERSION_BUILD\0)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif
